<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html'; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>
			Willkommen bei Terracamp, <%= @user.customer_name %>
		</h1>
		<p>
			Sie wurden erfolgreich zum Terracamp-Newsletter angemeldet.
		</p>
	</body>
</html>	