<h1>Vorgang ändern</h1>

<% if @user == 1 %>
<%= render 'edit_admin_form', receipt: @receipt %>
<% else %>
<%= render 'editform', receipt: @receipt %>
<% end %>

<%= link_to 'Zeigen', @receipt %> |
<%= link_to 'Zurück', receipts_path %>
